@import "../../scss/variables.scss";

.button {
    background-color: $title-color;
    color: $bg-card-color;
    padding: 18px 30px;
    font-size: 12px;
    font-weight: 600;
    font-family: $roboto;
    text-transform: uppercase;
    transition: 200ms linear;
    border-radius: 8px;
    border: 2px solid transparent;
    text-align: center;
    margin: 0 auto 32px;
    display: flex;
    justify-content: center;
    &:hover {
        border: 2px solid $bg-card-color;
    }
    @media screen and (min-width: 768px) {
        display: inline-block;
    }
}
