@import "../../scss/variables.scss";

.detailPage {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: $bg-card-color;
    position: relative;
}

.sectionMainPart {
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
    padding: 56px 0 62px;
    text-align: left;
}

.headerSubtitle {
    font-size: 18px;
    font-weight: 400;
    color: $title-color;
    font-family: $roboto;
}

.wrapperAdditionalInfo {
    width: 247px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapperSubtitle {
    width: 147px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapperSubtitleShare {
    width: 75px;
}

.wrapperSectionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleSection {
    font-family: $roboto;
    font-weight: 700;
    font-size: 24px;
    color: $title-color;
    margin-bottom: 7px;
}

.titleSectionSalary {
    font-size: 20px;
    margin-bottom: 1px;
}

.titleSectionAddress {
    color: $title-color;
}

.subtitleSection {
    font-size: 18px;
    font-weight: 400;
    font-family: $roboto;
    color: $subtitle-color;
    margin-bottom: 7px;
}

.descriptionSection {
    color: $title-color;
    margin-bottom: 39px;
}

.titleSectionJob {
    font-size: 20px;
    margin-bottom: 13px;
}

.sectionList {
    margin-bottom: 39px;
    & li::before {
        display: inline-block;
        content: "";
        width: 9px;
        height: 9px;
        margin: 0 10px 2px;
        background-color: rgba(56, 69, 100, 0.63);
    }
}

.sectionListItem {
    color: $title-color;
    margin-bottom: 0;
}

.additionalHeader {
    margin-bottom: 15px !important;
}

.QualitiesJob {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.additionalListImg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 89px;
}

.additionalListImgItem {
    width: 200px;
    height: 116px;
    border-radius: 8px;
    margin-right: 10px;
}

.returnBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -105px;
    padding: 18px 26px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    font-family: $roboto;
    text-transform: uppercase;
    background-color: $bg-color;
    color: $title-color;
    border: 2px solid transparent;
    transition: 200ms linear;
    &:hover {
        border: 2px solid $bg-card-color;
    }
}

.returnBtnText {
    margin-left: 19px;
} 