@import "reset.scss";
@import "variables.scss";

#root {
    width: 100vw;
    text-align: center;
    margin: 0 auto;
    background-color: $bg-color;
}

.loader {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}