
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// font-family: 'Roboto', sans-serif;

$poppins: "Poppins", sans-serif;
$roboto: 'Roboto', sans-serif;

$bg-color: rgba(230, 233, 242, 1);
$bg-card-color: rgba(255, 255, 255, 1);
$title-color: #3A4562;
$subtitle-color: #878D9D;