@import "../../scss/variables.scss";

.homePage {
    width: 100vw;
    height: 100vh;
    padding: 29px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    overflow-y: scroll;
}

.pagination {
    margin: 0 auto 64px;
}