@import "../../scss/variables.scss";

.homePage {
    width: 100vw;
    padding: 29px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagination {
    margin: 0 auto 64px;
}